/* Custom font. */
@font-face {
  font-family: 'Outfit';
  src: local('Outfit'), url(./assets/Outfit/Outfit-VariableFont_wght.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  /* Styling for background image. */
  background-image: url('./assets/background.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
